<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/google-icons.css">
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="{{style}}">
        <style>
            .messages {
                padding: 10px 0;
                margin: 0px !important;
            }

            #failureText {
                color: #d32f2f;
                background-color: rgba(244, 67, 54, .30);
            }

            #successText {
                color: #388e3c;
                background-color: #a5d6a7;
            }

            .successClose:hover {
                color: #ff0000;
                cursor: pointer;
            }

            .failureClose:hover {
                color: #ffffff;
                cursor: pointer;
            }
        </style>
    </head>
    
    <body>
        {{#if success_message}}
            <p id="successText" class="center messages">{{success_message}}<i class="right mdi mdi-close mdi-18px successClose"></i></p>
        {{/if}}
        
        {{#if failure_message}}
            <p id="failureText" class="center messages">{{failure_message}}<i class="right mdi mdi-close mdi-18px failureClose"></i></p>    
        {{/if}}
        {{{body}}}
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col s12 center">
                        <h5>Want to Learn More? Connect with Us!</h5>
                        <ul id="footerLinks">
                            <li><a href="https://web.facebook.com/uzoanya.dominic" target="_blank"><i class="footer-icons mdi mdi-24px mdi-facebook"></i></a></li>
                            <li><a href="https://twitter.com/uzoanya_dominic" target="_blank"><i class="footer-icons mdi mdi-24px mdi-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/sirbarman/" target="_blank"><i class="footer-icons mdi mdi-24px mdi-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/nomso-uzoanya-534469b5/" target="_blank"><i class="footer-icons mdi mdi-24px mdi-linkedin"></i></a></li>
                            <li><a href="https://medium.com/@uzoanyadominic" target="_blank"><i class="footer-icons mdi mdi-24px mdi-medium"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center green-text text-darken-2">
                    <p id="copyright">&copy; 2018 Edufy All Rights Reserved - Developed by Chukwu Grace</p>
                </div>
            </div>
        </footer>
        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/materialize.min.js"></script>
        <script src="{{script}}"></script>
        <script src="{{script2}}"></script>
        <script>
            $('.successClose').click(function () {
                $('#successText').remove();
            });

            $('.failureClose').click(function () {
                $('#failureText').remove();
            });
        </script>
    </body>
    
</html>