    {{#if errors}}
        {{#each errors}}
            <div>
                <p class="red-text text-darken-2 error-messages center">{{this.msg}}</p>
            </div>
        {{/each}}
    {{/if}}
    <div id="form-container" class="row container">
        <form name="form" class="col s12" action="/students/register" method="POST">
            <h4 class="center">Student Sign Up</h4>
            <div class="row">
                <div class="input-field col s12 l6">
                    <i class="mdi mdi-account-outline prefix form-icons"></i>
                    <input type="text" name="firstName" id="firstName" class="validate" value="{{firstName}}" autofocus>
                    <label for="firstName">First Name</label>
                    <span class="helper-text" data-error="Please provide your First Name" data-success=""></span>
                </div>
                <div class="input-field col s12 l6">
                    <i class="mdi mdi-account-outline prefix form-icons"></i>
                    <input type="text" name="lastName" id="lastName" class="validate" value="{{lastName}}">
                    <label for="lastName">Last Name</label>
                    <span class="helper-text" data-error="Please provide your Last Name" data-success=""></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi mdi-email-outline prefix form-icons"></i>
                    <input type="email" name="email" id="email" class="validate" value="{{email}}">
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Please provide a valid email address" data-success="">e.g. dominic@example.com</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi mdi-numeric prefix form-icons"></i>
                    <input type="text" name="regNo" id="regNo" class="validate" value="{{regNo}}">
                    <label for="email">Registration Number</label>
                    <span class="helper-text" data-error="Please provide regsitration number. e.g. NASS/SD/12345" data-success="">e.g. NASS/SD/12345</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi mdi-lock-outline prefix form-icons"></i>
                    <input type="password" name="password" id="password" class="validate" value="{{password}}">
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Password should be alphanumeric and at least 8 characters" data-success="">Password should be alphanumeric and at least 8 characters</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi mdi-lock-outline prefix form-icons"></i>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="validate" value="{{confirmPassword}}">
                    <label for="confirmPassword">Confirm Password</label>
                    <span class="helper-text" data-error="Passwords do not match! Please check." data-success="">Password should be alphanumeric and at least 8 characters</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12 center">
                    <p>Gender:</p>
                    <p>
                        <label for="male">
                            <input class="with-gap" type="radio" name="gender" id="male" value="male">
                            <span>Male</span>
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="female">
                            <input class="with-gap" type="radio" name="gender" id="female" value="female">
                            <span>Female</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="input-field center-align">
                <button id="submitButton" class="btn" type="submit">Register</button>
                <p>Already have an account? <a href="/">Log in</a></p>
            </div>
        </form>
    </div>